*{
    margin: 0;
    font-family: arial;
    border: border-box;
}

/* Navigation Bar */

.navbar{
    height:60px ;
    background-color: #0f1111; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* box1 */


.nav-logo {
   height: 50px;
   width: 120px;

}
.logo{
    background-image: url("amazon icon.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}


/* box2 */

.add-first{
 color: #cccccc;
 font-size: 0.85rem;
 margin-left: 15px;
}



.add-second{
font-size: 1rem;
margin-left: 5px;

}
 .add-icon{
    display: flex;
    align-items: center;
 }

 /* box3 */

 .nav-search{
    display: flex;
    
    width: 620px;
    height: 40px;
    border-radius: 5px;
    justify-content: space-evenly;
 }

 .nav-search:hover{
border: 2px solid orange;
 }


  .search-select{
    background-color: #f3f3f3;
    width:50px;
    text-align: centers;
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px ;
    border:none;
  }
  .search-input{
    width:100%;
    font-size: 1rem;
    border: none;
  }

  .search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color:  #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
  }

  /* box4 */

  .country{
    display: flex;
    height: 50px;
    align-items: center;
  }

  .select-country{
  height: 20px;
  width: 25px;
  background-image: url("flag.png");
  background-size: cover;
  

  }

.flag{
    border:none;
    background-color: #0f1111;
    color: #cccccc;
}

/* box5 */

span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.9rem;
    font-weight: 700;
}

/* box6 */

.nav-cart i {
  font-size: 25px;

}

.nav-cart{
    font-size: 0.9rem;
    font-weight: 700;
}

/* Panel Bar */

.panel{
  height: 40px;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}

.panel-ops p {
display: inline;
margin-left: 15px;
border: 2px solid transparent;
}

.panel-ops p:hover{
  border: 2px solid white;
}

.panel-ops{
  width:70%;
font-size: 0.85rem;
}

.panel-deals{
  font-size: 0.92rem;
  font-weight: 700;
}

/* Hero section */

.hero-section{
  background-image: url("hero image.png");
  height: 300px;
  background-size: cover;
  width: 1515px;
}

/* shop section */

.shop-section{
  display: flex;
  flex-wrap:wrap ;
  justify-content: space-evenly;
  background-color:rgb(225, 113, 113) ;
 
}
.box{
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 16px;
  margin-top:15px ;
}

.box-img{
  height: 310px;
  background-size:cover;
  margin-top: 1rem;
  margin-bottom: 20px;
}

.box-content{
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-content p {
color:#007185 ;
}

/* bar section */

.bar-pic{
  height: 250px;
  width: 1450px;
  background-size: cover; 
  margin-top: 20px;

}

.bar{
  background-color:white;
  border: 18px solid rgb(225, 113, 113);
  padding-top: 20px;
  padding-left: 15px;  
}

/* noice box */

.noice{
  background-image: url("noice.png");
  background-size: cover;
  height: 300px;
}

/* footer */

.footer{
  margin-top: 15px;
}
.foot-panel1{
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
}

.foot-panel2{
  background-color: #222f3d;
  color: white;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
}

ul{
  margin-top: 25px;
}

ul a {
  display: block;
  font-size: 0.9rem;
  margin-top: 15px;
  color: #dddddd;
}

.foot-panel3{
  background-color: #222f3d;
  color: white;
  border-top: 0.5px solid white;
  height: 110px;

}

.upper-section{
  display: flex;
    justify-content:space-evenly;
  align-items: center;
  margin-top: 10px;
}

.logo{
  background-image: url("amazon icon.png");
    height: 50px;
    width: 100px;
    background-size: cover;
}

.lower-section{
  display: flex;
  justify-content:center;
align-items: center;
margin-top: 20px;
font-size: 13px;
}

.foot-panel4{
  background-color: #37475a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 0.7rem;
}

.pages a {
  color: white;
  text-decoration: none;
}

.pages:hover{
  text-decoration: underline;
}

.space{
  margin-left: 15px;
}

.copyright{
  text-decoration: none;
  margin-left: 60px;
}

.copyright :hover{
  text-decoration: none;
}